<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anyuaning.osp">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
        android:name=".OspApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.home.OpenMainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.music.MusicPlayerService">
            <intent-filter>
                <action android:name="com.anyuaning.osp.action.MUSIC_SERVICE" />
            </intent-filter>
        </service>

        <service android:name=".service.pendometer.StepService">
            <itent-filter>
                <action android:name="com.anyuaning.osp.action.STEP_SERVICE" />
            </itent-filter>
        </service>

    </application>

</manifest>
